In [1]:
import os
import pandas as pd
import json
import glob

In [2]:
city_list=os.listdir("C:\\Users\\Abi\\Desktop\\ML_project\\weather-20200731T142422Z-001\\weather")
file_path="C:\\Users\\Abi\\Desktop\\ML_project\\weather-20200731T142422Z-001\\weather\\"
weather_list=[]
for p in city_list:
    json_list=os.listdir(file_path+p)
    s=json_list.index('2016-1.json')
    actual_list=json_list[s:]
    for i in actual_list:
        fp=open(file_path+p+"\\"+i,"r")
        d=fp.read()
        data=json.loads(d)
        feature_list=['windspeedKmph','winddirDegree','weatherCode','precipMM','visibility','pressure','cloudcover','DewPointF','WindGustKmph',         'tempF','WindChillF','humidity','time']
        
        for i in data["data"]["weather"]:
            for j in range(24):
                weather_per_hr=dict()
                for k in feature_list:
                    weather_per_hr[k]=i["hourly"][j][k]
                weather_per_hr['date']=i['date']
                weather_per_hr['airport']=data["data"]["request"][0]["query"]
                weather_list.append(weather_per_hr)
        fp.close()
df_weather=pd.DataFrame(weather_list)

df_weather.to_csv("weather_features.csv")

In [3]:
df_weather["air"]=""

In [4]:
df_weather["air"]=[x[0:3] for x in df_weather["airport"]]

In [5]:
df_weather["int_time"]=0

In [6]:
df_weather["int_time"]=[int(x) for x in df_weather["time"]]

In [20]:
df_weather.shape

(263160, 17)

In [25]:
df_weather

,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,date,airport,air,int_time
0,11,318,176,0.1,10,1023,100,47,17,49,46,91,0,2016-01-01,"ATL, Hartsfield-Jackson Atlanta International ...",ATL,0
1,13,317,176,0.0,10,1023,100,44,22,46,42,92,100,2016-01-01,"ATL, Hartsfield-Jackson Atlanta International ...",ATL,100
2,14,315,122,0.0,10,1023,100,41,26,43,38,92,200,2016-01-01,"ATL, Hartsfield-Jackson Atlanta International ...",ATL,200
3,16,314,122,0.0,10,1023,100,38,30,40,33,93,300,2016-01-01,"ATL, Hartsfield-Jackson Atlanta International ...",ATL,300
4,17,314,122,0.0,10,1023,100,38,30,40,33,93,400,2016-01-01,"ATL, Hartsfield-Jackson Atlanta International ...",ATL,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263155,26,296,113,0.0,10,1014,0,57,27,67,67,70,1900,2017-09-30,"SFO, San Francisco International Airport, Unit...",SFO,1900
263156,26,298,113,0.0,10,1014,0,58,27,67,67,71,2000,2017-09-30,"SFO, San Francisco International Airport, Unit...",SFO,2000
263157,26,300,113,0.0,10,1014,0,58,27,67,67,73,2100,2017-09-30,"SFO, San Francisco International Airport, Unit...",SFO,2100
263158,23,302,113,0.0,10,1014,0,58,25,66,66,74,2200,2017-09-30,"SFO, San Francisco International Airport, Unit...",SFO,2200
263159,20,303,113,0.0,10,1014,0,58,22,66,66,75,2300,2017-09-30,"SFO, San Francisco International Airport, Unit...",SFO,2300

In [10]:
files=glob.glob('C:\\Users\\Abi\\Desktop\\ML_project\\Flight Data-20200805T074725Z-001\\Flight Data\**\*',recursive=True)
df_flight=pd.DataFrame()
for i in files:
    try:
        i.index(".csv")
    except:
        continue
    d=pd.read_csv(i)
    d=d[['FlightDate','Quarter','Year','Month'
    ,'DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','OriginAirportID','DestAirportID','ArrTime','CRSArrTime','ArrDel15',           'ArrDelayMinutes','Origin','Dest']]
    df_flight=pd.concat([df_flight,d])

In [11]:
airports=['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']
df_flight=df_flight[df_flight["Dest"].isin(airports)]
df_flight=df_flight[df_flight["Origin"].isin(airports)]

In [12]:
df_flight=df_flight.dropna()

In [13]:
df_flight["round_time"]=0

In [14]:
df_flight["round_time"]=[(round((x/100))*100)%2400 for x in df_flight["CRSDepTime"] ]

In [22]:
df_flight.shape

(1851436, 18)

In [24]:
df_flight

,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes,Origin,Dest,round_time
57,2016-01-01,1,2016,1,1,741.0,0.0,745,0.0,14747,12478,1610.0,1602,0.0,8.0,SEA,JFK,700
58,2016-01-02,1,2016,1,2,737.0,0.0,745,0.0,14747,12478,1613.0,1602,0.0,11.0,SEA,JFK,700
59,2016-01-03,1,2016,1,3,743.0,0.0,745,0.0,14747,12478,1547.0,1602,0.0,0.0,SEA,JFK,700
60,2016-01-04,1,2016,1,4,737.0,0.0,745,0.0,14747,12478,1551.0,1602,0.0,0.0,SEA,JFK,700
61,2016-01-05,1,2016,1,5,708.0,0.0,710,0.0,14747,12478,1524.0,1527,0.0,0.0,SEA,JFK,700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458684,2017-09-25,3,2017,9,25,2038.0,0.0,2045,0.0,14771,12478,449.0,522,0.0,0.0,SFO,JFK,2000
458687,2017-09-25,3,2017,9,25,1200.0,0.0,1205,0.0,11618,13204,1428.0,1449,0.0,0.0,EWR,MCO,1200
458688,2017-09-25,3,2017,9,25,1143.0,0.0,1141,2.0,13204,11618,1409.0,1417,0.0,0.0,MCO,EWR,1100
458695,2017-09-25,3,2017,9,25,2157.0,0.0,2159,0.0,12889,12478,540.0,557,0.0,0.0,LAS,JFK,2200
458711,2017-09-25,3,2017,9,25,605.0,0.0,605,0.0,13204,12478,821.0,837,0.0,0.0,MCO,JFK,600

In [15]:
result=pd.merge(left=df_weather,right=df_flight,left_on=["date","int_time","air"],right_on=["FlightDate","round_time","Origin"])

In [13]:
'''del result["int_time"]
del result["air"]
del result["round_time"]
del result["Origin"]
del result["Dest"]'''

In [16]:
result=result.dropna()

In [17]:
df_flight["CRSDepTime"]

57         745
58         745
59         745
60         745
61         710
          ...
458684    2045
458687    1205
458688    1141
458695    2159
458711     605
Name: CRSDepTime, Length: 1851436, dtype: int64

In [18]:
df_flight["round_time"]

57         700
58         700
59         700
60         700
61         700
          ...
458684    2000
458687    1200
458688    1100
458695    2200
458711     600
Name: round_time, Length: 1851436, dtype: int64

In [19]:
result.shape

(1851436, 35)

In [23]:
result

,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,...,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes,Origin,Dest,round_time
0,18,315,122,0.0,10,1024,100,38,28,40,...,0.0,10397,13303,838.0,837,0.0,1.0,ATL,MIA,600
1,18,315,122,0.0,10,1024,100,38,28,40,...,6.0,10397,13204,728.0,720,0.0,8.0,ATL,MCO,600
2,18,315,122,0.0,10,1024,100,38,28,40,...,0.0,10397,13930,738.0,746,0.0,0.0,ATL,ORD,600
3,18,315,122,0.0,10,1024,100,38,28,40,...,10.0,10397,14771,921.0,918,0.0,3.0,ATL,SFO,600
4,18,315,122,0.0,10,1024,100,38,28,40,...,0.0,10397,13930,800.0,755,0.0,5.0,ATL,ORD,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851431,23,302,113,0.0,10,1014,0,58,25,66,...,7.0,14771,10397,535.0,548,0.0,0.0,SFO,ATL,2200
1851432,20,303,113,0.0,10,1014,0,58,22,66,...,0.0,14771,12478,732.0,759,0.0,0.0,SFO,JFK,2300
1851433,20,303,113,0.0,10,1014,0,58,22,66,...,9.0,14771,13930,513.0,519,0.0,0.0,SFO,ORD,2300
1851434,20,303,113,0.0,10,1014,0,58,22,66,...,5.0,14771,10397,615.0,632,0.0,0.0,SFO,ATL,2300
1851435,20,303,113,0.0,10,1014,0,58,22,66,...,0.0,14771,12478,735.0,750,0.0,0.0,SFO,JFK,2300